.tree-node {
  display: flex;
  flex-direction: column;
}

.tree-node_row {
  padding: 5px;
  display: flex;
}

.tree-node_title {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: auto;
	outline: inherit;
}

.tree-node__expanded {
  transform: translateX(10px);
}

.tree-node__selected {
  background-color: #eeeff8;
}

.tree-node_children {
  transform: translateX(10px);
}